#bottomBar {
    height: 3rem;
    border-bottom: solid 2px var(--darkGreen);
    button {
        border: solid 2px var(--darkGreen);
        border-bottom: none;
        color: var(--black);
    }
}