.characterCategory, .itemCard {
  background-color: var(--darkerGreen);
  border-top: solid 2px var(--lightGreen);
  border-left: solid 2px var(--lightGreen);
  border-right: solid 2px var(--darkGreen);
  border-bottom: solid 2px var(--darkGreen);
}

// .custom-checkbox {
//   appearance: none;
//   width: 16px;
//   height: 16px;
//   background-color: black;
//   border: 2px solid var(--darkerGreen);
//   cursor: pointer;
// }

input[type='checkbox'] {
  appearance: none;
}

.custom-checkbox:checked {
  background-color: var(--green);
}

.itemCard {
  color: var(--green);
}