.characterCategory {
    background-color: var(--darkGreen);
    border-top: solid 2px var(--lightGreen);
    border-left: solid 2px var(--lightGreen);
    border-right: solid 2px var(--darkGreenBorder);
    border-bottom: solid 2px var(--darkGreenBorder);
}